#home{
    height: 40px;
    width: 80px;
    border: 1px solid var(--textColor);
    background-color: var(--detailColor);
    position: absolute;
    top: 10;
    left: 0;
    margin: 0;
}

#seachBlock{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 10px;

    width: calc(100% - 10px);
}

#seachBlock, input[type='text'], button{
    height: 40px;
    margin-left: 5px;
    font-size: 16px;
}

#seachBlock input[type='text']{
    width: 400px;
    padding: 5px;
    border: 1px solid var(--textColor);
}

#seachBlock button{
    width: 80px;

    background-color: var(--detailColor);
    border: 1px solid var(--textColor);

    transform: scale(1);
    filter: brightness(100%);

    transition-property: transform, filter;
    transition-duration: .3s;
}

#seachBlock button:hover{
    transform: scale(1.1);
    filter: brightness(120%);

    transition-property: transform, filter;
    transition-duration: .2s;
}

#movieBlock{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(calc(300px + 1em), 1fr));
    justify-items: center;

    padding: 10px;

    border-top: 1px solid;
}

#movie {
    display: flex;
    flex-direction: column;

    border-top: 5px solid var(--detailColor);
    border-left: 5px solid var(--detailColor);
    border-bottom: 5px solid var(--textColor);
    border-right: 5px solid var(--textColor);
    text-align: center;

    width: fit-content;

    padding: 10px;
    
}

#movie img{
   height: 450px;
   width: 300px;
   transform: scale(1);
    transition-property: transform;
    transition-duration: .3s;
}
#movie img:hover{
    cursor: pointer;
    transform: scale(0.95);
    transition-property: transform;
    transition-duration: .2s;
}

#movie h1{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 300px;
    height: calc(100% - 450px);

    margin: 0;
}

@media(max-width: 650px){
    #home{
        position: inherit;
        width: 10%;
    }   
    #search{
        width: 10%;
    }
    #seachBlock input[type='text']{
        width: 80%;
    }
}
@media(max-width: 400px){
    #movie, #movieBlock{
        margin: 0;
        padding: 0;
    }

}